.post-link {
  padding: 20px 10px;
  border-bottom: 1px solid #e8e8e8;
  &:hover {
    background: #f7f7f7;
  }
  h4 {
    color: #485763;
    font-size: 15px;
    font-weight: 500;
  }
  .post-time {
    color: #7f8c8d;
    font-size: 14px;
    margin: 14px 0 0;
  }
  .read-more {
    color: #42b983;
  }
}
